@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
/*solution*/
.header,
.footer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 86vh;
}
.left-links,
.right-links{
  display: flex;
  /* border: 2px solid red; */

  gap: 20px;
  list-style: none;
}
a{
  text-decoration: none;
  color: rgb(110, 108, 108);
  font-weight: 550;
}
ul{
  padding: 0;
}
.footer{
  background-color: rgb(238, 238, 238);
}
.page{
  display: flex;
  flex-direction: column;
}